@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 100;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 100;
}

p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

ul {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  list-style-type: none;
}

ol {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(20, 255, 243);
  text-decoration: none;
}
a:visited {
  color: rgb(167, 22, 142);
}
a:hover {
  color: rgb(255, 173, 217);
  text-decoration: underline;
}
a:active {
  color: rgb(4, 175, 175);
}

.aboutme {
  background-color: rgba(255, 209, 245, 0.678);
  color: rgb(0, 255, 200);
  text-shadow: 2px 2px 4px black;
  text-align: center;
}
